.nav{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

body{
    background-color: #7d7d7d;
}

.nav_wrapper{
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 60px;
    position: sticky;
    top: 0;
    left: 50%;
    z-index: 9;
    backdrop-filter: blur(10px);
}

.nav_logo{
    display: flex;
    align-items: center;
}

.nav_logo strong{
    font-size: 32px;
}

.nav_logo img{
    height: 100px;
    width: 100px;
    color: #fff;
}

#nav_search-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    background-color: #fff;
    border-radius: 5px;
}

#nav_search-form i {
    font-size: 18px;
    
}

#search-input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding:10px ;
}

.nav_wrapper a{
    padding: 6px 30px;
    background-color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #222;
    transition: .3s;
}

.nav_wrapper a:active{
    transform: scale(0.9);
}

